html,
body {
    margin: 0;
    // overflow: hidden;
    height: 100%;
    background-color: black;
}

.input-wrapper {
  color: white;
}

.input-wrapper h3 {
  display: inline-block;

}
.name {
  margin: 0;
  display: inline-block;
  padding: 5px;
}

/*

canvas#canvas {
    width: 100%;
    height: 100%;
}
canvas[resize] {
    width: 100%;
    height: 100%;
}
*/